build/
.vscode/
CMakeFiles/
*.cmake
CMakeCache.txt
client
server
microbench
prepare
localtest
split_workload
ycsb_loader
ycsb_remote_client
ycsb_server
*.log
*.out*
*.pyc
*.a
*.o
*.d
!testcases/backup/*
!testcases/normal/*
*.pcap
switchos
controller
dpdktest_client
dpdktest_server
socktest_client
socktest_server
skewness_check
