build/
.vscode/
CMakeFiles/
*.cmake
CMakeCache.txt
client
server
microbench
prepare
localtest
split_workload
loader
remote_client
server
*.log
*.out*
*.pyc
*.a
*.o
*.d
!testcases/*
!testcases/*/*
!testcases/*/*/*
*.pcap
switchos
controller
dpdktest_client
dpdktest_server
socktest_client
socktest_server
skewness_check
recover/controller_get_snapshotid
recover/server_recover
*.txt
warmup_client
preparefinish_client
!results/*
!results/*/*
!results/*/*/*
